@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0px;

  /*box-sizing: inherit;*/
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

h2 {
  padding: 20px;
  margin: 20px;
}

#file-input {
  display: none;
}

#file-input-label {
  display: block;
  padding: 20px;
  margin: 20px;
  width: 220px;
  background-color: #eee;
  color: #222;
  cursor: pointer;
}

#file-input-label:hover {
  background-color: #28caca;
}

#plot {
  background-color: #eee;
  width: 95%%;
  height: 700px;
  margin: 20px;
}
