@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 1px;
  padding: 1px;
  /*box-sizing: inherit;*/
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

h2 {
  padding: 20px;
  margin: 20px;
}

#file-input {
  display: none;
}

#file-input-label {
  padding: 20px;
  margin: 40px;
  background-color: #eee;
  color: #222;
  cursor: pointer;
}

#file-input-label:hover {
  background-color: #28caca;
}

#plot {
  margin: 40px;
}
